@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

body {
    height: 100vh;
    display: grid;
    place-content: center;
}

.contact-form {
    border: 1px solid #aaa;
    padding: 50px 30px;
}